ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(1, 1, 34);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    background-color: crimson;
  }